/* Bash Code block styling and overflow protection */
pre {
    max-width: 100%;
    overflow-x: auto;
    white-space: pre;
    background-color: #e8e8e8 !important;    
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
}

code {
    display: block;
    overflow-x: auto;
}

body, html {
    overflow-x: hidden;
}

/* Accordion for Reports dropdown */ 
.accordion-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-content.active {
  max-height: 1000px; 
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(-180deg);
}
